:root {
  --star-command-blue: #2274a5ff;
  --eggshell: #e7dfc6ff;
  --alice-blue: #e9f1f7ff;
  --rich-black-fogra-29: #131b23ff;
  --french-bistre: #816c61ff;
  --sage: #bcbd8bff;
  --moonstone: #009fb7ff;
  --indigo-dye: #224870ff;
  --eerie-black: #1e2019ff;
  --onyx: #393e41ff;
}

#root {
  min-height: 100vh;
  background-color: white;
}

.signupContainer{
  background-color: white;
}

#toolBar {
    background-color: var(--star-command-blue);
}

#drawer > div {
    background-color: var(--alice-blue);
}

#drawerHeader{
    background: var(--alice-blue);
}


#drawer > div > ul {
    background-color: var(--alice-blue);
    /* display: none; */
    margin: 0px;
}

main {
  /* min-height: 100vh; */
  padding: 0px;
}

#mainContainer {
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 100%;
}

#contentContainer {
  min-height: 100vh;
}

#postContainer {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  margin-top: 5rem;
  align-self: stretch;
  flex-grow: 1;
  align-self: center;
  /* padding-left: 2rem;
  padding-right: 1rem; */
}

#postList{
  background-color: var(--alice-blue);
}

#postList::-webkit-scrollbar{
  display: none;
}

.tripCard{
 background-color: var(--alice-blue); 
}

#postPaper {
  padding: 2rem;
  background-color: var(--alice-blue);
}

#footer {
    background-color: var(--french-bistre);
    color: var(--eggshell)
}

.footerTypography{
    color: var(--eggshell);
    display: none;
    font-weight: bold;
}
